@font-face {
  font-family: 'HelveticaNeueLTStd-Md';
  src: url(./HelveticaNeueLTStd-Md.otf);
}
@font-face {
  font-family: 'simhei';
  src: url(./simhei.ttf);
}
@font-face {
  font-family: 'youyuan';
  src: url(./hye4gjm.ttf);
}
